<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <!-- This is where the navigiation tags will go -->
    <a href="/Games">Games</a>
    <a href="/BestGames">Best Games</a>
    <a href="/MostRecentGame">Most Recent Game</a>
    <a href="/OldestGame">Oldest Game</a>
    <a href="/FunGame">A Game For Everyone</a>
  </div>
</div>
<!-- Unsure about what I will do here - 10/27/2 -->
<body>
  <!-- <button type="button" id="createNew">Enter a Game</button> --> {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <!-- <script>
    $('#createNew').on('click', function() {
      <a href="/Games">Games</a>
    });
  </script> -->
</body>

</html>
